.logo-social {
    display: none;
}

.social {
    position: fixed;
    right: 40px;
    bottom: 60px;
    a {
        margin-left: 10px;
        text-decoration: none;
    }
}

@media (max-width:992px) {
    &.nav-on {
        .logo-social {
            display: flex;
        }
        .social {
            .icon-icon-ln:before,
            .icon-icon-insta:before {
                color: var(--color-txt-black);
            }
        }
    }
    .logo-social {
        flex-direction: column;
        position: fixed;
        bottom: 100px;
        right: 16px;
        align-items: flex-end;
        img {
            width: 30%;
            display: block;
            margin-left: auto;
        }
        a {
            font-size: var(--h6);
            color: inherit;
        }
    }
    .social {
        right: 16px;
    }
}