header.header
	.container-fluid
		.row
			.col-6.col-lg-2.header--logo
				a(href="../") 
					img.img-fluid(src=ruta+"img/logo_pulso_2.png" alt="Pulso GNP 2022")

			.col-lg-10.col-6.header--navegacion.d-flex
				nav.navbar-expand-lg
					.btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')

					.collapse.navbar-collapse#navbarNav

						ul

							li#li-lineup
								a.text-decoration-none(href=ruta+"index.html") LINE

							li#li-boletos
								a.text-decoration-none(href=ruta+"index.html#home--boletos") BOLETOS

							li#li-beneficios
								a.text-decoration-none(href=ruta+"index.html#home--beneficios") BENEFICIOS



