.wrap-social
    .logo-social
        picture 
            source(srcset="img/logooffsuit_2.webp" type="image/webp")
            img.img-fluid(src="img/logooffsuit_2.png" alt="OffSuit")

        a.text-decoration-none(href="mailto:hello@offsuit.mx") HELLO@OFFSUIT.MX

    .social.d-flex
        a(href="#!" target="_blank" rel="noopener noreferrer") 
            .icon-icon-ln

        a(href="#!" target="_blank" rel="noopener noreferrer") 
            .icon-icon-insta