@font-face {
    font-family: 'AndaleMono';
    src: url('../fonts/AndaleMono.eot');
    src: local('☺'), url('../fonts/AndaleMono.woff') format('woff'), url('../fonts/AndaleMono.ttf') format('truetype'), url('../fonts/AndaleMono.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamNarrow-Black';
    src: url('../fonts/GothamNarrow-Black.eot');
    src: local('☺'), url('../fonts/GothamNarrow-Black.woff') format('woff'), url('../fonts/GothamNarrow-Black.ttf') format('truetype'), url('../fonts/GothamNarrow-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');