:root {
    // scroll-behavior: auto;
    // COLORS//
    --color-back-prm: #F318BD;
    --color-back-sec: #00FA93;
    --color-back-ter: #E6FE52;
    --color-back-black: #202C36;
    --color-back-gris: #F8F7F7;
    --color-txt-prm: #F318BD;
    --color-txt-sec: #00FA93;
    --color-txt-ter: #E6FE52;
    --color-txt-black: #202C36;
    --color-txt-gris: #F8F7F7;
    --black-opacity: rgba(0, 0, 0, 0.6);
    // FONTS 
    --primariaRegular: 'AndaleMono';
    --secundariaRegular: "GothamNarrow-Black";
    --secundariaBold: "GothamNarrow-Bold";
    --terceraRegular: 'Bebas Neue';
    --h1: calc(80px + 10 * ((100vw - 1280px) / 1920)); //
    --h2: calc(60px + 10 * ((100vw - 1280px) / 1920));
    --h3: calc(24px + 10 * ((100vw - 1280px) / 1920)); //
    --h4: calc(18px + 10 * ((100vw - 1280px) / 1920)); //
    --h5: calc(14px + 10 * ((100vw - 1280px) / 1920)); //
    --h6: calc(12px + 10 * ((100vw - 1280px) / 1920)); //
    // MISC
    /// SECTIONS 
    --paddingSection: 60px 40px;
    --paddingTop: calc(200px + 25 * ((100vw - 1920px)/ 320));
    ///// MEDIA MOBILE /////
    @media (max-width: 992px) {
        --h1: calc(60px + 10 * ((100vw - 320px) / 640));
        --h2: calc(36px + 10 * ((100vw - 320px) / 640));
        --h3: calc(14px + 10 * ((100vw - 320px) / 640)); //
        --h4: calc(12px + 10 * ((100vw - 320px) / 640)); //
        --h5: calc(12px + 10 * ((100vw - 320px) / 640)); //
        --h6: calc(10px + 10 * ((100vw - 320px) / 640)); //
        --paddingSection: 50px 0px;
    }
}