.about {
    overflow: hidden;
    position: relative;
    padding: calc(60px + 25 * ((100vw - 1280px)/ 1920)) 40px;
    height: 100vh;
    max-height: calc(800px + 250 * ((100vw - 1280px)/ 1920));
    display: flex;
    align-items: center;
    video {
        position: absolute;
        width: 45%;
        z-index: -1;
        &#magmaLeft {
            left: -20%;
            bottom: -20%;
        }
        &#magmaRight {
            right: -20%;
            top: -20%;
        }
    }
    .img-abstract {
        position: absolute;
        width: 30%;
        z-index: -1;
        &#magmaLeft {
            left: 0%;
            bottom: 0%;
        }
        &#magmaRight {
            right: 0%;
            top: 0%;
        }
    }
    &--logo {
        position: relative;
        img {
            width: 72%;
            max-width: 220px;
            display: block;
            margin: auto;
        }
    }
    #text-circle {
        position: absolute;
        bottom: 5%;
        width: 30%;
        right: 25%;
    }
    h3 {
        margin-top: 2em;
        font-size: var(--h4);
    }
    .icon-icon-arrow {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        &::before {
            font-size: x-small;
        }
    }
}

@media (max-width:992px) {
    .about {
        display: flex;
        align-items: center;
        video {
            width: 50%;
        }
        .img-abstract {
            &#magmaLeft {
                bottom: 0;
            }
            &#magmaRight {
                top: 0;
                right: -3%;
            }
        }
        h3 {
            font-size: var(--h5);
            margin: 3em auto 0;
            width: 80%;
        }
    }
}

@media (max-width:768px) {
    .about {
        &--logo {
            width: min-content;
            img {
                width: 40%;
                min-width: 120px;
            }
        }
        #text-circle {
            right: 10px;
            width: 50%;
            min-width: auto;
            max-width: none;
            bottom: 2%;
        }
        h3 {
            font-size: var(--h5);
            margin: 3em auto 0;
            width: 60%;
        }
    }
}

@media (min-width:320px) {
    .about {
        .img-abstract {
            max-width: 200px;
            &#magmaLeft {
                width: 45%;
            }
            &#magmaRight {
                width: 50%;
            }
        }
    }
}

@media (min-width:768px) {
    .about {
        .img-abstract {
            &#magmaLeft {
                width: 20%;
            }
            &#magmaRight {
                width: 25%;
            }
        }
    }
}

@media (min-width:992px) {
    .about {
        .img-abstract {
            max-width: none;
            &#magmaLeft {
                width: 30%;
            }
            &#magmaRight {
                width: 30%;
            }
        }
    }
}