.contacto {
    padding: calc(130px + 25 * ((100vw - 1280px)/ 1920)) 40px calc(60px + 25 * ((100vw - 1280px)/ 1920));
    overflow: hidden;
    position: relative;
    .img-abstract {
        position: absolute;
        z-index: -1;
        &#abs-one {
            width: 50%;
            left: -25%;
            top: 0%;
            transform: rotatey(-180deg) rotatez(-100deg);
            filter: invert(1);
        }
        &#abs-two {
            width: 50%;
            left: -8%;
            bottom: -35%;
            transform: rotatez(380deg);
        }
        &#abs-three {
            width: 40%;
            transform: rotateY(180deg);
            left: -3%;
            bottom: -10%;
        }
        &#abs-four {
            width: 45%;
            transform: rotateY(180deg);
            right: -20%;
            top: -5%;
            filter: contrast(0.9);
        }
        &#abs-five {
            width: 30%;
            right: -15%;
            bottom: 2%;
            transform: rotateZ(-15deg);
        }
    }
    h2 {
        font: {
            size: var(--h1);
            family: var(--secundariaBold);
        }
        line-height: 0.9;
        margin: 2.5em 0 0.1em;
        color: var(--color-txt-prm);
    }
    img {
        width: 90%;
    }
    form {
        transition: .3s ease-in-out;
        &.form-send {
            &:before {
                content: "";
                width: 100vw;
                height: 100vh;
                background: rgba(255, 255, 255, 0.85);
                position: fixed;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 0;
                z-index: 1;
                right: 0;
            }
            .wpcf7-response-output {
                visibility: visible;
            }
        }
        .input__group {
            margin-bottom: 2.3em;
            br {
                display: none;
            }
        }
        .boton {
            margin: 1.5em auto 2em;
            min-width: 295px;
            display: block;
        }
        a {
            color: var(--color-txt-prm);
        }
        p {
            div {}
        }
    }
    &--location {
        text-align: center;
        line-height: 2;
        a {
            color: inherit;
        }
    }
    .screen-reader-response {
        display: none;
    }
    .wpcf7-response-output {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 1;
        background: var(--color-back-prm);
        width: 50vw;
        left: 0;
        height: 10vh;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 1em;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .contacto {
        padding: calc(40px + 25 * ((100vw - 1280px)/ 1920)) 2rem;
        .img-abstract {
            &#abs-one {
                right: -24%;
                width: 70%;
                transform: rotatez(240deg);
                left: auto;
                top: -2%;
            }
            &#abs-two {
                width: 70%;
                left: -50%;
                bottom: 0;
            }
            &#abs-four {
                width: 65%;
                left: -33%;
                transform: rotateY(180deg) rotatez(-35deg);
                top: 2%;
                right: 0;
            }
            &#abs-five {
                width: 40%;
                bottom: 3%;
            }
        }
        form {
            margin-top: -3em;
            .boton {
                min-width: auto;
            }
        }
        img {
            width: 20%;
            min-width: 120px;
        }
        .wpcf7-response-output {
            width: 80vw;
            height: 15vh;
        }
    }
}