-titulo =  "OFFSUIT"
-ruta = ""

doctype
html(lang='es')
   include includes/head.pug

   body
      include includes/header.pug

      main.aviso 
         section 
            .container 
               .row 
                  .col-12.aviso__wrap
                     h1 AVISO DE PRIVACIDAD

                  .col-12.aviso__wrap
                     p OFFSUIT protegerá toda información proporcionada como: nombre, empresa, dirección, teléfono, correo electrónico, RFC, CURP, entre otros (en lo sucesivo, "Datos Personales").
                     p Al darnos tu información, estás consintiendo la manera en que utilicemos, compartamos, almacenemos y tratemos tus Datos Personales en México de acuerdo al presente documento.

                     p Sobre la obtención datos personales
                     p Los Datos Personales que sean proporcionados a OFFSUIT a través de diferentes medios digitales, serán utilizados para cumplir y mantener la relación comercial entre la marca y el usuario, y puede incluir: seguimiento a pedidos, quejas y reclamaciones, premiaciones de dinámicas digitales, listening de clientes, etc.

                     p Sobre la divulgación de datos personales 
                     p OFFSUIT no divulgará, almacenará, comercializará, rentará ni venderá tus Datos Personales de acuerdo a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento. 

                     p Las operaciones en digital que no sean ejecutadas directamente por OFFSUIT y que sean subcontratadas a otras empresas podrán tener acceso a los Datos Personales de forma confidencial y únicamente para desempeñar sus funciones.

                     p Los Datos Personales podrán ser transferidos a subsidiarias, filiales y afiliadas de OFFSUIT en México o el extranjero para los fines anteriormente citados.

                     p Los usuarios podrán limitar o revocar el permiso para el uso o divulgación de los Datos Personales en cualquier momento, al igual que ejercer sus Derechos de Acceso, Rectificación, Cancelación u Oposición de Datos Personales bajo conformidad de la Ley Federal para la Protección de Datos Personales en Posesión de los Particulares.

                     p Los usuarios podrán contactar a OFFSUIT en la dirección de correo electrónico 
                        a.text-decoration-none(href="mailto:hello@offsuit.mx" targe="_blank") hello@offsuit.mx 
                        | para ello.

                     p OFFSUIT puede modificar el presente Aviso de Privacidad en cualquier momento.
                     p Este podrá ser consultado en la página de internet de OFFSUIT www.offsuit.mx


