-titulo =  "BOILERPLATE"
-ruta = ""

doctype
html(lang='es')
    include includes/head.pug

    body
        //- include includes/header.pug

        main.home
            h1 h1 
            h2 h2
            h3 h3
            h4 h4
            h5 h5 
            h6 h6 


        include includes/footer.pug
